div.imgAndInfo{
    margin: 40px auto;
    /*使得商品图片和价格信息处于页面中间而不占满整个页面*/
    width: 50%;

}
div.imgInImgAndInfo{
    /*background-color: #c40000;*/
    float: left;
}
img.bigImg{
    width: 400px;
    height:400px;
    border:1px solid #F2F2F2;
    padding: 20px;
}
div.smallImageDiv{
    width: 80%;
    margin:20px auto;

}
div.smallImageDiv img.smallImage{
    width: 60px;
    height: 60px;
    border:2px solid white;
}
div.smallImageDiv img.smallImage:hover{
    border:2px solid black;
}

div.infoInImgAndInfo{
    /*左右内边距20px*/
    padding:0px 20px;
    /*隐藏溢出部分*/
    overflow:hidden;
}

/*商品标题*/
div.infoInImgAndInfo div.productTitle {
    color: #000;
    font-size:16px;
    font-weight: bold;
    /*水平外边距10px*/
    margin:0px 10px;
}

/*商品小标题*/
div.infoInImgAndInfo div.productSubTitle{
    color: #c40000;
    font-size:12px;
    margin:0 10px;
}

/*聚划算div的设计*/
div.infoInImgAndInfo div.juhuasuan{
    background-color: #2DA77A;

    color: white;
    text-align: center;
    line-height:40px;
    margin-top:10px;
}

div.infoInImgAndInfo div.juhuasuan span.juhuasuanBig{
    font-size:18px;
    font-weight:bold;
    font-family: 黑体;
}
div.infoInImgAndInfo div.juhuasuan span.juhuasuanTime{
    color: #FFC057;
    font-weight:bold;
}

div.productPriceDiv{
    background-image: url("../../img/site/priceBackground.png");
    height:102px;
    padding: 10px;
    color:#666666;
}

div.productPriceDiv div.gouwuqjuanDiv{
    margin-top: 5px;
}
div.productPriceDiv div.originalDiv{
    margin-top: 5px;
}

div.originalDiv span.originalPriceDesc {
    color:#999999;
    width:68px;
    display: inline-block;
}
div.originalDiv span.originalPrice{
    text-decoration: line-through;
    color: #333333;
}

div.productPriceDiv span.promotionPriceYuan{
    font-size:18px;
    color:#c40000;
}

div.productPriceDiv span.promotionPrice{
    color: #c40000;
    font-weight:bold;
    font-size:30px;
}

div.productPriceDiv span.promotionPriceDesc{
    color:#999999;
    width:68px;
    display: inline-block;
    position: relative;
    left:0;
    top:-10px;
}


/*销量和累计评价的共同div*/
div.productSaleAndReviewNumber{
    margin:20px 0px;
    border-top:1px dotted #C9C9C9;
    border-bottom:1px dotted #C9C9C9;
    padding:10px;
}

div.productSaleAndReviewNumber div{
    display: inline-block;
    width:49%;
    text-align: center;
    color: #999999;
}

div.productSaleAndReviewNumber div:first-child{
    border-right:1px solid #E5DFDA;
}


/*产品数量和库存*/
div.productNumber{
    color:#999999;
}

div.productNumber span.productNumberSettingSpan{
    border:1px solid #999;
    display: inline-block;
    width:43px;
    height:32px;
    padding-top: 7px;
}

div.productNumber span.productNumberSettingSpan input{
    border:0px;/*无边框*/
    height:80%;
    width:80%;
    outline:none;
}

div.productNumber span.updown img{
    display: inline-block;
    vertical-align: top;
}

div.productNumber span.updown{
    border:1px solid #999;
    display: block;
    width:20px;
    height:14px;
    text-align: center;
    padding-top:4px;
}

div.productNumber span.updownMiddle{
    height:4px;
    display: block;
}

div.productNumber span.arrow{
    display: inline-block;
    vertical-align: top;
    width:22px;
    height:32px;
}

/*服务承诺信息所在div*/
div.imgAndInfo div.serviceCommitment{
    margin:20px 0px;
}

div.serviceCommitment span.serviceCommitmentDesc{
    color:#999999;
}
div.serviceCommitment span.serviceCommitmentLink a{
    color:#666666;
}

/*购买button的div*/
div.buyDiv{
    margin:20px 0px;
    text-align: center;
}

/*立即购买和加入购物车的按钮所在div*/
div.buyDiv button{
    margin:0 10px;
    width:180px;
    height:40px;
    display: inline-block;
}

div.buyDiv button.buyButton{
    border:1px solid #c40000;
    background-color: #FFEDED;
    text-align: center;
    /*内容垂直居中*/
    line-height: 40px;
    font-size:16px;
    font-family: Arial;
    color: #c40000;

}
div.buyDiv button.addCartButton{
    border:1px solid #c40000;
    background-color: #c40000;
    color: white;
    text-align: center;
    font-size:16px;
    line-height: 40px;
}

div.buyDiv button.addCartButton span.glyphicon-shopping-cart{
    font-size: 12px;
    margin-right: 8px;
}


/*对所有的超链接进行设置：悬停不显示下划线*/
a:hover{
    text-decoration: none;
    color: #c40000 !important;
}

.redColor{
    color: #c40000;
}
.boldWord{
    font-weight: bold;
}


/*商品详情和用户评论详细设置*/
div.productDetailDiv{
    width:800px;
    margin:40px auto;
}
div.productDetailDiv div.productDetailTopPart{
    border:1px solid #DFDFDF;
    border-left:0px;
}

div.productDetailDiv a.selected{
    border-left:1px solid #cfbfb1;
    border-right:1px solid #cfbfb1;
    color: #b1000b;
    /*可以对a标签进行属性的设置*/
    display: inline-block;
    line-height: 40px;
    font-weight: bold;
    width:90px;
    text-align: center;
    /*这里设置相对定位是为了之后的啊a.selected:before的定位提供一个参照*/
    position: relative;
}

div.productDetailDiv a.selected:before{
    /*内容为空*/
    content: '';
    display: block;
    position: absolute;
    width:90px;
    height:0px;
    border:1px solid #b00000;

    top:-1px;
    margin-left: -1px;
}
div.productDetailDiv a.selected:after{
    content:"";
    /*设置为block便于修改宽度*/
    display: block;
    width:0px;
    height:0px;
    border:5px solid;
    border-color: #b00000 transparent transparent;
    position: absolute;
    top:-1px;
    left:50%;
    margin-left:-5px;
}

/*累计评论超链接的设置*/
div.productDetailTopPart a.productDetailTopPartReviewLink{
    padding:0 20px;
    border-right: 1px dotted #D2D2D2;
    color:#333333;
}
div.productDetailDiv a.productDetailTopPartReviewLink span.productDetailTopReviewLinkNumber{
    color: #3355b9;
}

/*参数列表div*/
div.productParameterPart{
    border:1px solid #DFDFDF;
    padding:40px;
}
div.productParameter{
    color: #999999;
    font-weight: bold;
    margin-bottom: 20px;
}

div.productParameterList span{
    display: block;
    float:left;
    width:220px;
    padding:8px 0;
    color: #666666;
}

div.productDetailImagesPart img{
    display: block;
    width:790px;
    margin:20px 0;
}

div.productReviewDiv{
    width:790px;
    margin:0 auto;

}

div.productReviewDiv div.productReviewTopPart{
    border:1px solid #DFDFDF;
}

div.productReviewDiv a.productDetailTopPartSelectedLink{
    color:black;
    padding:0 20px;

}

div.productReviewDiv a.selected{
    width:90px;
    display: inline-block;
    line-height: 40px;
    position: relative;
    color:#b1000b;
    font-weight: bold;
    text-align: center;
    border-left:1px solid #cfbfb1;
    border-right:1px solid #cfbfb1;
}
div.productReviewDiv a.selected:before{
    content: "";
    width:90px;
    height:0px;
    border:1px solid #b1000b;
    position: absolute;
    display: block;
    top: -1px;
    margin-left:-1px;
}
div.productReviewDiv a.selected:after{
    content: "";
    width:0px;
    height:0px;
    position: absolute;
    border:5px solid;
    display: block;
    border-color: #b00000 transparent transparent;
    top:-1px;
    left:50%;
    margin-left:-5px;
}

div.productReviewContentPart{
    padding-top:50px;
}
div.productReviewContentPart div.productReviewItem{
    border-bottom: 1px solid #E3E3E3;
    margin:10px 0;
}

div.productReviewContentPart div.productReviewItemDesc{
    width:80%;
    display: inline-block;
    margin:5px 20px;
    float: left;
    color: #333333;
}

div.productReviewContentPart div.productReviewItemDate{
    margin-top:15px;
    color: #cccccc;
}

div.productReviewItem div.productReviewItemUserInfo{
    color:#404040;
    margin:5px 20px;
    padding:20px 0;
}

div.productReviewItem div.productReviewItemUserInfo span.userInfoGrayPart{
    color: #999999;
}