div.categoryPageDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.categoryPageDiv img.categoryPageImage{
    width:100%;
    margin:10px auto;
}
div.categorySortBar{
    background-color: #FAF9F9;
    margin: 40px 20px 20px 20px;
    padding:4px;
}

table.categorySortBarTable{
    /*单元格之间没有空隙*/
    border-collapse: collapse;
    display: inline-block;
}
table.categorySortBarTable span.glyphicon{
    font-size: 10px;
}

table.categorySortBarTable td{
    height: 17px;
    font-size: 12px;
    border:1px solid #CCCCCC;
    padding:3px;
}
table.categorySortBarTable td.grayColumn{
    background-color: #F1EDEC;
}

table.categorySortBarTable td a{
    color: #806F66;
}
table.categorySortBarTable td a:hover{
    color: #c40000;
    text-decoration: none;
}

table.categorySortBarTable td input{
    border-width: 0px;
    height: 15px;
    outline: none;
    width: 50px;
}
table.categorySortBarTable td.priceMiddleColumn{
    width: 5px;
    vertical-align: middle;
    color:#CCCCCC;
}
table.categorySortTable td:hover{
    background-color: #F1EDEC;
}

div.categoryProducts{
    /*width:1080px;*/
    /*margin:100px auto;*/
    height: auto;
    width: 100%;
    padding:0px 20px 40px 20px;
}
div.productUnit{
    width:225px;
    height:338px;
    border:3px solid #ffffff;
    background-color: white;
    margin:12px 5px;
    float: left;
}
div.productUnit:hover{
    border:3px solid #c40000;
}
div.productUnitFrame{
    border:1px solid #eee;
    height: 100%;
}
div.productUnitFrame:hover{
    border:1px solid #c40000;
}

div.productUnit span.productPrice{
    font-size: 20px;
    display: block;
    color: #CC0000;
    padding-left: 4px;
}

div.productUnitFrame a.productLink{
    color: #333333;
    display: block;
    margin: 10px 0;
    height: 34px;
}

div.productUnitFrame a.productLink:hover{
    color: #c40000;
}

div.productUnitFrame a.tmallLink{
    display: block;
    margin: 10px 0;
    color: #999999;
    text-decoration: underline;
}
div.productUnitFrame a.tmallLink:hover{
    color: #c40000;
}
div.productUnitFrame div.productInfo{
    border-top:1px solid #EEEEEE;
    color: #999999;
}

div.productUnitFrame div.productInfo span.productDealNumber{
    font-weight: bold;
    color: #B57C5B;

}
div.productUnitFrame div.productInfo span.productReview{
    border-left:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
}
div.productInfo span.productReviewNumber{
    font-weight: bold;
    color: #3388BB;
}

div.productUnit span.monthDeal,div.productUnit span.productReview{
    /*使得行内元素可以设置大小*/
    display: inline-block;
    width:90px;
    height: 29px;
    padding-top: 5px;
    padding-left: 5px;
}

div.productUnit a.wangwangLink{
    padding-left: 5px;
}