body{
    font-size: 12px;
    font-family: Arial;
    margin: 0px;
    padding:0px;
}

/*导航栏*/
/*===================================================*/
nav.header{
    background-color: #F2F2F2;
    padding:7px 3px;

    margin: auto;

}


nav.header div.header-content span{
    color: #999;
}

nav.header div.header-content{
    width: 60%;
    margin:auto;
}
nav.header span,nav.header a{
    margin: 0 5px;
}


/*==============================================================*/



a{
    color: #999;
}
a:hover{
    color: #c40000;
    text-decoration: none;
}

/*=====================搜索框===========================================*/
div.searchDiv{
    padding: 1px;
    width: 400px;
    background-color: #c40000;
    height: 44px;
    margin: 40px auto;
}
div.searchDiv input{
    margin: 1px;
    padding: 3px;
    outline: none;
    width: 275px;
    height: 40px;
    border:1px solid transparent;
    font-size: 14px;
}
div.searchDiv button{
    border:1px solid transparent;
    outline: none;
    background-color: #c40000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100px;

}

div.searchDiv div.searchBelow{
    margin: 5px 0px 0px 0px;
    /*background-color: #00aaee;*/
}

div.searchDiv div.searchBelow span{
    color: #999;
}

div.searchDiv div.searchBelow a{
    /*background-color: #0f0f0f;*/
    width: 50px;
    font-size: 14px;
    /*margin: 0px 20px;*/
}

img.logo{
    position: absolute;
    left:375px;
    top:30px;
    z-index: -1;

/*================================================*/
}

/*=======================简易搜索框====================*/

div.simpleLogoAndSimpleSearchDiv{
    width: 1080px;
    height: 86px;
    margin: 10px auto;
}


div.simpleSearchDiv{
    width:300px;
    height: 40px;
    background-color: #c40000;
    margin: 10px 20px 40px;
    padding:1px 1px 1px 1px;
    display: block;
}
div.simpleSearchDiv input{
    width: 225px;
    height: 34px;
    outline: none;
    border:1px solid transparent;
    margin:2px;
}
div.simpleSearchDiv .searchButton{
    width: 60px;
    outline: none;
    background-color: #c40000;
    border:1px solid transparent;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
div.searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}

div.searchBelow a{
    font-size: 14px;
    padding:0px 20px 0 20px;
}

div.searchBelow span{
    color: #999;
}
a{
    text-decoration: none;
    color: #999;
}
a:hover{
    color: #c40000;
    text-decoration: none;
}
img.simpleLogo{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 140px;
}



/*================================================*/



/*================================分类列表=====================*/
div.categoryMenu{
    position: absolute;
    background-color: #e2e2e3;
    /*跟商品分类这一块的DIV宽度相同200px*/
    width: 200px;
    z-index: 1;
    margin-left: 440px;
}
div.categoryMenu div.eachCategory a{
    color: black;
}
div.categoryMenu div.eachCategory a:hover{
    color: lightskyblue;
    text-decoration: none;
}
div.productAsideCategory{
    /*绝对定位*/
    position: absolute;
    /*640px??*/
    margin-left: 640px;
    z-index: 1;
    display: none;
    background-color: #ffffff;
    width: 800px;
    height: 512px;
}
div.productAsideCategory div.row{


    margin: 20px 80px 0 80px;
}
div.productAsideCategory div.row a{
    margin: 8px;
    font-size: 14px;
}
div.productAsideCategory div.seperator{
    border-bottom: 1px dashed #e7e7e7;
    margin-top: 20px;

}

div.categoryMenu div.eachCategory{
    line-height: 30px;
    /*padding-left: 10px;*/
}
div.categoryMenu div.eachCategory:hover{
    background-color: #ffffff;
}
div.categoryMenu div.eachCategory span{
    margin-right: 10px;
}

/*========================================================================*/


/*==============================轮播==========================*/

div.categoryWithCarousel{
    position: relative;
    font-size:14px;
    font-family: Arial;
    width: 100%;
    position: relative;
    height: 100%;

}
div.categoryWithCarousel div.headbar{
    background-color: #DD2727;
}
div.categoryWithCarousel div.headbar div.head{
    width: 200px;
    display: inline-block;
    color: white;
    background-color: #c60a0a;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;

}
div.categoryWithCarousel div.rightMenu{
    display: inline-block;

}
div.categoryWithCarousel div.headbar div.rightMenu span a{
    color: white !important;
    font-size: 16px;
    text-decoration: none;
}

div.categoryWithCarousel div.headbar div.rightMenu span a:hover{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
div.categoryWithCarousel div.headbar div.rightMenu span img{
    height: 35px;
}
div.categoryWithCarousel div.headbar div.rightMenu span{
    margin: 0 20px 0 20px;
}
div.headbar{
    padding-left: 420px;
}

div.carousel-of-product{
    width:1024px;
    height: 510px;
    margin: 0 auto;
}

div.carousel-of-product div.carousel-inner div.item img{
    height: 510px;
}

div.carouselBackgroundDiv{
    background-color: #e8e8e8;
    height: 510px;
    width: 100%;
    position: absolute;
    top:192px;
    z-index: -1;
}

/*==========================================================================*/
/*===============================首页商品里列表========================================*/
div.homepageCategoryProduct{
    margin: 10px auto;
    background-color: #F5f5f5;
    padding:50px 10px 50px 10px;
    max-width: 1013px;
}


div.eachHomepageCategoryProducts div.productItem{
    background-color: #ffffff;
    width: 189px;
    height:285px;
    border:1px solid white;
    margin: 8px 4px;
    float: left;
    cursor: pointer;
}
div.eachHomepageCategoryProducts div.productItem span.productItemDesc{
    display: block;
    color: #666666;
    padding: 16px;
}

div.productItem span.productPrice{
    font-size: 16px;
    display: block;
    color: #ff003a;
    padding-left: 16px;
    margin-top: -10px;
}

div.productItem img{
    width: 187px;
    height: 190px;
}
div.productItem img:hover{
    opacity: 0.7;
}
div.productItem:hover{
    border:1px #c40000 solid !important;

}

div.eachHomepageCategoryProducts{
    margin: 0 0 40px 0;
}

div.productItem a.productItemDescLink{
    text-decoration: none;
    display: inline-block;
    height: 66px;
}
span.categoryTitle{
    font-size: 16px;
    color: #646464;
    font-weight: bold;
    margin-left: 30px;

}

div.left-mark{
    display: inline-block;
    height: 20px;
    width: 5px;
    background-color: #19C8A9;
    vertical-align: top;
}
/*======================================================================================*/
/*=============================模态窗口=====================================*/
div#loginModal div.loginDivInProductPageModalDiv{
    width:350px;
}
div.loginDivInProductPage{
    height:400px;
    padding:20px 20px 40px 20px;

}
/*账户登录字体*/
div.login_acount_text{
    font-size: 16px;
}


/*=========================================*/

/*=================页脚=======================*/
/*=====================页脚一===============*/

div.container{
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}


div.footer1{

    border-top:1px solid;
    border-top-color: #e7e7e7;
    background-color: #ffffff;
}

div.footer1_ensure{
    margin: 24px auto;
    text-align: center;
    background-color: #ffffff;

}

div.footer1_desc{

    border-top: 1px solid;
    border-top-color: #e7e7e7;
    width: 50%;
    margin: 20px auto;
    background-color: #ffffff;


}


div.footer1 div.descColumn{
    width: 20%;
    /*float: left;*/
    float: left;
    margin-top: 20px;



}
div.footer1 div.footer1_desc div.descColumn span.desc_title{
    font-size: 16px;
    color: #646464;
    font-weight: bold;
}

div.footer1_desc div.descColumn a{

    display: block;
    padding-top: 5px;

}
/*=====================================*/
/*========================================页脚二======*/

div.footer2{
    margin-top:250px;
    border-top:1px solid #e7e7e7;


}
div.footer2_middle img.cateye,div.footer2_middle div.copyright{
    padding-left: 450px;
}

div.copyright{
    background-color: black;
    border-top:2px solid #c40000;
}
div.white_link span{
    color: white;
}
div.white_link a{
    color: #ffffff;
    padding:0px 5px;
}
div.white_link{
    padding: 10px 0;
    margin-left: 10px;
}

div.license{
    margin-left: 10px;
    padding-bottom: 30px;
}
div.license span{
    color: #a4a4a4;
}
div.copyRightYear{
    margin:5px 0;
    color: #5E5E5E;
}
/*======================================*/
/*页脚*/
