<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warframe.mytmall.dao.OrderItemDAO">

    <select id="getById" parameterType="int" resultType="com.warframe.mytmall.pojo.OrderItem">
        select * from orderitem WHERE id = #{id};
    </select>

    <insert id="add" parameterType="com.warframe.mytmall.pojo.OrderItem">
        INSERT INTO orderitem(id,,oid,pid,uid,`number`) VALUES (#{id},#{order.id},#{product.id},`user`.id,#{number})
    </insert>

    <select id="listAll" resultType="com.warframe.mytmall.pojo.OrderItem">
        SELECT * FROM  orderitem

    </select>

    <select id="getTotalNumber" resultType="int">
        SELECT COUNT(*) FROM orderitem
    </select>


    <update id="update" parameterType="com.warframe.mytmall.pojo.OrderItem">
        UPDATE orderirem set pid=#{product.id},`number`=#{number} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM orderitem where id=#{id}
    </delete>

    <!--分页查询-->
    <select id="list" parameterType="int" resultType="com.warframe.mytmall.pojo.OrderItem">
        SELECT * FROM orderitem limit #{start},#{count}
    </select>

    <select id="getNumberByProductId" resultType="int">
        SELECT number FROM orderitem WHERE pid=#{pid}
    </select>

</mapper>
