<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warframe.mytmall.dao.OrderItemDAO">

    <!--对于一对一，使用association
        对于一对多，使用collection
        mybatis中默认开启一级缓存
    -->




    <select id="getById" parameterType="int" resultType="com.warframe.mytmall.pojo.OrderItemCustom">
        select * from orderitem WHERE id = #{id};
    </select>

    <insert id="add" parameterType="com.warframe.mytmall.pojo.OrderItem">
        INSERT INTO orderitem(id,oid,pid,uid,`number`) VALUES (#{id},#{order.id},#{product.id},#{user.id},#{number})
    </insert>

    <select id="listAll" resultType="com.warframe.mytmall.pojo.OrderItem">
        SELECT * FROM  orderitem

    </select>

    <select id="getTotalNumber" resultType="int">
        SELECT COUNT(*) FROM orderitem
    </select>


    <update id="update" parameterType="com.warframe.mytmall.pojo.OrderItem">
        UPDATE orderirem set pid=#{product.id},`number`=#{number} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM orderitem where id=#{id}
    </delete>

    <!--分页查询-->
    <select id="list" parameterType="int" resultType="com.warframe.mytmall.pojo.OrderItem">
        SELECT * FROM orderitem limit #{start},#{count}
    </select>

    <select id="getNumberByProductId" resultType="int">
        SELECT number FROM orderitem WHERE pid=#{pid}
    </select>

    <select id="getOrderItemListWithOutOid" parameterType="int" resultType="com.warframe.mytmall.pojo.OrderItemCustom">
        SELECT * FROM orderitem WHERE uid=#{uid} AND oid IS NULL
    </select>
    <!--指定用户的购物车数量-->
    <select id="getOrderItemNumber" resultType="int">
        SELECT count(*) FROM orderitem WHERE uid=#{uid} AND oid IS NULL
    </select>

    <select id="isExistOrderItemWithOutOidByProductIdAndUserId" resultType="int">
        SELECT COUNT(*) FROM
          (SELECT * FROM orderitem WHERE uid=#{uid} AND oid IS NULL) cartitem
        WHERE pid=#{pid}
    </select>

    <select id="getOrderItemCustomWithOutOidByProductIdAndUserId" resultType="com.warframe.mytmall.pojo.OrderItemCustom">
        SELECT * FROM orderitem WHERE uid=#{uid} AND oid IS NULL AND pid=#{pid}
    </select>

    <update id="updateProductNumberByOrderItemId" parameterType="com.warframe.mytmall.pojo.OrderItemCustom">
        UPDATE orderitem SET number=#{number} WHERE id=#{id}
    </update>

    <update id="updateOrderId" parameterType="com.warframe.mytmall.pojo.OrderItem">
        UPDATE orderitem set oid=#{order.id} where id=#{id}
    </update>

    <select id="getOrderItemCustomByOrderId" parameterType="int" resultType="com.warframe.mytmall.pojo.OrderItemCustom">
        SELECT * from orderitem where oid=#{oid}
    </select>
</mapper>
