<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warframe.mytmall.dao.ProductDAO">

    <select id="getById" parameterType="int" resultType="com.warframe.mytmall.pojo.Product">
        select * from product WHERE id = #{id};
    </select>

    <insert id="add" parameterType="com.warframe.mytmall.pojo.Product">
        <!--对于id主键，应该使用其数据库中的主键策略进行自增-->
        <!--下列使用的数据库增加语句中，有指定id就按指定id(在主键不冲突的情况下)进行相关操作
            否则就按空(采用数据库主键自增策略)进行相关操作
        -->
        INSERT INTO product(id,`name`,subTitle,originalPrice,promotePrice,stock,cid,createDate) VALUES (#{id},#{name},#{subTitle},
        #{originalPrice},#{promotePrice},#{stock},#{category.id},#{createDate})
    </insert>

    <select id="listAll" resultType="com.warframe.mytmall.pojo.Product">
        SELECT * FROM  product

    </select>

    <select id="getTotalNumber" resultType="int">
        SELECT COUNT(*) FROM product
    </select>


    <update id="update" parameterType="com.warframe.mytmall.pojo.Product">
        UPDATE product set `name`=#{name},subTitle=#{subTitle},originalPrice=#{originalPrice},promotePrice=#{promotePrice},
        stock=#{stock},cid=#{category.id},createDate=#{createDate} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM product where id=#{id}
    </delete>

    <!--分页查询-->
    <select id="list" parameterType="int" resultType="com.warframe.mytmall.pojo.Product">
        SELECT * FROM product limit #{start},#{count}
    </select>


    <select id="getTotalNumberByCategoryId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM product where cid=#{cid}
    </select>
    
    <select id="listProductByCategoryId" resultType="com.warframe.mytmall.pojo.Product">
        SELECT * FROM product where cid=#{cid} limit #{start},#{count}
    </select>

    <select id="getCategoryIdByProductId" resultType="int">
        SELECT cid FROM product WHERE id=#{pid}
    </select>


    <select id="searchByKeyword" parameterType="String" resultType="com.warframe.mytmall.pojo.Product">
        SELECT * FROM product WHERE `name` LIKE CONCAT('%',#{keyword},'%') OR subTitle LIKE CONCAT('%',#{keyword},'%')
    </select>

</mapper>
