<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warframe.mytmall.dao.PropertyValueDAO">

    <select id="getById" parameterType="int" resultType="com.warframe.mytmall.pojo.PropertyValue">
        select * from propertyvalue WHERE id = #{id};
    </select>

    <insert id="add" parameterType="com.warframe.mytmall.pojo.PropertyValue" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO propertyvalue(id,pid,ptid,`value`) VALUES (#{id},#{product.id},#{property.id},#{value})
    </insert>

    <select id="listAll" resultType="com.warframe.mytmall.pojo.PropertyValue">
        SELECT * FROM  propertyvalue

    </select>

    <select id="getTotalNumber" resultType="int">
        SELECT COUNT(*) FROM propertyvalue
    </select>


    <update id="update" parameterType="com.warframe.mytmall.pojo.PropertyValue">
        UPDATE propertyvalue set pid=#{product.id},ptid=#{property.id},`value`=#{value} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM propertyvalue where id=#{id}
    </delete>


    <!--分页查询-->
    <select id="list" parameterType="int" resultType="com.warframe.mytmall.pojo.PropertyValue">
        SELECT * FROM propertyvalue limit #{start},#{count}
    </select>


    <select id="getTotalNumberByProductId" parameterType="int" resultType="int">
        SELECT count(*) FROM propertyvalue where pid=#{pid}
    </select>

    <select id="getPropertyValuesByProductId" resultType="com.warframe.mytmall.pojo.PropertyValue">
        SELECT * FROM propertyvalue WHERE pid=#{pid}
    </select>

    <!--三表查询，查询出指定产品的属性以及属性值-->
    <select id="getPropertyValueCustomByProductIdAndCategoryId" resultType="com.warframe.mytmall.pojo.PropertyValueCustom">
        SELECT property.cid AS `categoryId`,propertyvalue.id,property.name AS `propertyName`,propertyvalue.value,property.id AS `propertyId`
        FROM (SELECT * FROM property WHERE property.cid=#{cid}) property LEFT JOIN (SELECT * FROM propertyvalue WHERE propertyvalue.pid=#{pid}) propertyvalue
        ON property.id=propertyvalue.ptid;
    </select>

</mapper>
